* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(250, 244, 236);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
flex: 1 0 auto;
}

.nav-wrapper {
    background-color: rgb(167, 166, 166, 0.3);
}

.nav-row {
    margin: 0;
}

.sidenav-icon {
    margin: 10px;
}

.brand-logo {
    padding: 1rem;
}

#picture-and-contact {
    max-width: 400px;
}

#about-me {
    display: block;
}

#my-story-button {
    background-color: rgba(221, 233, 236, 0.815);
    width: 40%;
    font-size: 20px;
}

#my-story-paragraph {
    color: black;
    background-color: rgba(111, 133, 150, 0.767);
}

.section {
    background-image: url("../images/grey-background.jpg");
}

.project-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.project-link-labels {
    display: block;
    margin: 0.5rem;
}

#contact-me-wrapper {
    padding: 1rem;
}

.page-footer {
    background-color: rgb(250, 244, 236);
    padding: 0;
}

.footer-copyright {
    color: black;
}

.footer-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-icon {
    margin: 10px;
}